<!-- DaisyUI 알림 컴포넌트 -->
<th:block th:fragment="info(message)">
  <div class="alert alert-info">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <span>[[${message}]]</span>
  </div>
</th:block>

<th:block th:fragment="success(message)">
  <div class="alert alert-success">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>[[${message}]]</span>
  </div>
</th:block>

<th:block th:fragment="warning(message)">
  <div class="alert alert-warning">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4v2m0-10V5m0 16v1m0-17C6.48 3 3 6.48 3 12s3.48 9 9 9 9-3.48 9-9-3.48-9-9-9z" />
    </svg>
    <span>[[${message}]]</span>
  </div>
</th:block>

<th:block th:fragment="error(message)">
  <div class="alert alert-error">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l4-4m0 0l4 4m-4-4l-4-4" />
    </svg>
    <span>[[${message}]]</span>
  </div>
</th:block>
